# Created by .ignore support plugin (hsz.mobi)
### PlayFramework template
# Ignore Play! working directory #
bin/
/db
.eclipse
/logs/
/modules
/project/target
/target
#tmp/
test-result
server.pid
*.eml
/dist/
.cache
/documentation
.idea/
.settings/
/out

data/
db/
dist/
logs/
test-result/
modules/
eclipse/
tmp/

.classpath
.project
pom.xml.bak

