<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    
	    <title>Bloggy</title>
	    	
	    <link rel="icon" href="/public/images/favicon.png">
	    
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		#{script 'tinymce/tinymce.min.js'/}
		#{script 'jquery.iframe-post-form.js'/}
		#{stylesheet 'bootstrap.min.css' /}
		#{stylesheet 'bootstrap-theme.min.css' /}
	</head>  
	  
	<body>
		<div class="container">
			<div class="row" style="margin-bottom:30px; margin-top:30px">
				<a href="/">
					<h1 class="text-center">Bloggy</h1>
				</a>
			</div>
			
			#{if error}
				<div class="alert alert-warning">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  					<strong>Warning!</strong> ${error} 
				</div>
			#{/if}
					
			<form class="form-horizontal" action="@{LogInPageController.login}" method="POST" accept-charset="UTF-8">
				<div class="row">
					<div class="form-group">
    					<label class="control-label col-xs-3 col-sm-2 col-xs-offset-1 col-sm-offset-2 text-right" for="nickname">Nickname:</label>
    					<div class="col-xs-7 col-sm-4">
    						<input type="text" class="form-control" name="nickname" placeholder="Your nickname">
  						</div>
  					</div>
  				</div>
  				<div class="row">
					<div class="form-group">
   						<label class="control-label col-xs-3 col-sm-2 col-xs-offset-1 col-sm-offset-2 text-right" for="pwd">Password:</label>
   						<div class="col-xs-7 col-sm-4">
   							<input type="password" class="form-control" name="password" placeholder="Your password">
  						</div>
  					</div>
  				</div>
  				<div class="row">
  					<div class="form-group">
  						<div class="col-xs-6 col-sm-2 col-xs-offset-3 col-sm-offset-5">
  							<button type="submit" class="btn btn-default btn-block">Log In</button>
  						</div>
  					</div>			
  				</div>		
			</form>
			
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 text-center">
					<a href="/registration" class="btn btn-link">Register New User</a>
				</div>
			</div>
		
			<footer>
        		<p>Blog css'ed with Bootstrp</p>
        		<p>&copy; ${new Date().format("yyyy")}</p>
   			</footer>
		</div>
		
		#{script 'bootstrap.min.js'/}
	</body>
</html>