#{extends 'main.html' /}
#{set title:'Home' /}
<h1>About us</h1>
<h2>Hello, we welcome you in this blog</h2>
<p>We are two 2nd year Computer Science students from Nazarbayev University</p>
<p>Alexey Muryshkin</p>
<p>Rustam Zhumagambetov</p>
<p>Here is the link to the <a href="github.com/ruszh96/csci241-bloggy">github repository</a></p>
<p>Developed as a group project in CSCI 241 Database Systems course.</p>
<p>List of used technologies:</p>
<ul>
    <li><a href="https://www.playframework.com/">PLAY framework 1.4</a></li>
    <li><a href="https://www.tinymce.com/">Tinymce: https</a></li>
    <li><a href="https://github.com/boxuk/tinymce-imageupload">Tinymce’s plugin for image upload</a></li>
    <li><a href="https://cloudinary.com">Cloudinary</a></li>
</ul>
