#{extends 'main.html' /}
#{set title:'Home' /}

#{if category}
	<div class="row">
		<h3 class="display-4">${category}</h3>
	</div>
#{/if}

#{if featuredPost}
<div class="post">
    <h2 class="post-title">
        <a href="#">${featuredPost.getTitle()}</a>
    </h2>
    <div class="post-metadata">
        <span class="post-author">${featuredPost.getUser()}</span>
        <span class="post-date">${featuredPost.getDate().format('MMM dd')}</span>
    </div>
    <div class="post-content">
    ${featuredPost.getBody().raw().nl2br()}
    </div>
    
    #{if user}
 		
	#{/if}
</div>
#{/if}

#{if error}
	<div class="alert alert-warning">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  		<strong>Warning!</strong> ${error} 
	</div>
#{/if}

#{if paginator}
        #{paginate.list items:paginator, as:'post'}
            <div class="post">
            	#{if post.getAvatar() }
            	    <img src=" ${ post.getAvatar() } " class="img-responsive img-circle" alt="Avatar" width="50" height="50">
                #{/if}
                <h2 class="post-title">
                    <a href="@{ Application.articlePage( post.getPost().getPostId() ) }">${post.getPost().getTitle()}</a>
                    #{if user}
                    <a class="btn btn-default pull-right" href="@{ Application.updateNumberOfLikes(post.getPost().getPostId(), user.getNickname(), "home") }">
     					<span class="glyphicon glyphicon-thumbs-up"></span> ${post.getPost().getNumber_of_likes()}
					</a>
					#{/if}
                </h2>
                <div class="post-metadata">
                        <span class="post-author">
                            ${post.getName()}
                        </span>
                   	 	<span class="post-date pull-right">
                            ${post.getPost().getDate().format('dd MMM yy')}
                        </span>

                </div>
                <div class="post-content">
                ${post.getPost().getBody().raw().nl2br()}
                </div>
				
				<hr>			
            </div>
        #{/paginate.list}

        #{paginate.controls items:paginator /}
#{/if}

#{else}
<div class="empty">
    There is currently nothing to read here.
</div>
#{/else}