#{extends 'main.html' /}
#{set title:'Home' /}

#{if curCategory && curCategory != 'Uncategorized'}
	<h3>{$curCategory}</h3>
#{/if}

#{if featuredPost}
<div class="post">
    <h2 class="post-title">
        <a href="#">${featuredPost.getTitle()}</a>
    </h2>
    <div class="post-metadata">
        <span class="post-author">${featuredPost.getUser()}</span>|
        <span class="post-date">${featuredPost.getDate().format('MMM dd')}</span>
    </div>
    <div class="post-content">
    ${featuredPost.getBody().raw().nl2br()}
    </div>
</div>

#{/if}
   *{ #{if listposts}}*
    *{<div class="posts">
    #{list items:listposts, as:'post'}
        <div class="post">
            <h2 class="post-title">
                <a href="#">${post.getTitle()}</a>
            </h2>
            <div class="post-metadata">
                        <span class="post-author">
                            ${post.getUser().getName()}
                        </span>
                <span class="post-date">
                            ${post.getDate().format('dd MMM yy')}
                        </span>

            </div>
            <div class="post-content">
            ${featuredPost.getBody().raw().nl2br()}
            </div>
        </div>
    #{/list}
</div>
#{/if}}*

#{if paginator}
        #{paginate.list items:paginator, as:'post'}
            <div class="post">
                <h2 class="post-title">
                    <a href="#">${post.getTitle()}</a>
                </h2>
                <div class="post-metadata">
                        <span class="post-author">
                            ${post.getUser()}
                        </span>
                    <span class="post-date">
                            ${post.getDate().format('dd MMM yy')}
                        </span>

                </div>
                <div class="post-content">
                ${post.getBody().raw().nl2br()}
                </div>
            </div>
        #{/paginate.list}

        #{paginate.controls items:paginator /}
#{/if}

#{else}
<div class="empty">
    There is currently nothing to read here.
</div>
#{/else}