<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>#{get 'title' /}</title>




        #{stylesheet 'main.css' /}
        #{stylesheet 'bootstrap.min.css' /}
        #{stylesheet 'bootstrap-theme.min.css' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body>
        <div class="container">
            <div class="row">
`
                <div class="col-md-1">Home</div>
                <div class="col-md-1">About</div>
                <div class="col-md-1">Contact Us</div>
                <div class="col-md-2"></div>
                <div class="col-md-2">Log in| Sign up</div>
                <div class="col-md-3"><input class="form-inline" type="search"></div>
            </div>
            #{doLayout /}
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->

        #{script 'bootstrap.min.js'/}
    </body>
</html>
